<!-- it is body for home and user which will
get accessed and rendered in layout -->
<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page / 
        </h1>